.header {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: top;
    background: linear-gradient(180deg, #f3d69478, #71803b85);
    border-style: hidden;
    border-radius: 15px;
    padding: 2%;
}

.container-one {
    max-width: 60%;
    margin: 0 auto; /* Center the container */
}

.container-one button {
    padding: 5px;
    background-color: bisque;
}

.fig {
    text-align: center;
    display: flex;
    justify-content: center; /* Center the image horizontally */
}

.fig figure, .figme figure {
    width: 80%;
    height: auto;
}

.figme {
    text-align: center;
    display: flex;
    justify-content: center; /* Center the image horizontally */
}

.fig img {
   width: 80%;
   height: auto;
   margin-top: 10%;
   margin-left: auto;
   margin-right: auto; /* Center the image */
}

.figme img {
   width: 80%;
   height: auto;
   margin-top: 10%;
   margin-left: auto;
   margin-right: auto; /* Center the image */
}

section {
    margin-top: 40px;
}

body {
    position: relative;
    padding: 5%;
    background-image: url('/Images/background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.29);
    z-index: 1;
    pointer-events: none;
}

header, section, footer {
    position: relative;
    z-index: 2;
}

h1, h2, h3, p, td {
    color: white;
}

.Experience {
    background: linear-gradient(180deg, #f3d69478, #71803b85);
    border-style: hidden;
    border-radius: 15px;
    padding: 2%;
    width: 100%;
}