@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f3f3f3;
}


.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #f3f3f3;
}


body {
    position: relative;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b1b32;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.everything {
    z-index: 1;
    position: relative;
    display: block;
    margin: 52px auto 0 auto;
    height: 100%;
    width: 100%;

}

header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
    font-size: 32px;
}

header p {
    margin-top: 0;
    font-size: 18px;
}

.stack {
    display: flex;
    flex-direction: column;


}

form {
    min-width: 480px;
    max-width: 640px;
    display: block;
    text-align: center;
    margin: 25px auto 0 auto;
    padding: 2.5rem;
    background: rgba(27, 27, 50, 0.8);
    border-radius: 0.25rem;
}



.stack {
    display: block;
    text-align: left;
    margin-bottom: 1.25rem;
    width: 100%;
}


.label {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 8px;    
}

label {
    font-size: 18px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

input{
    padding: 7px 14px;
    /* width: 100%; */
    border-radius: 0.35rem;
    box-sizing: border-box;
}

.input{
    width: 100%;
    display: flex;
    align-items: center;
    
}

.checkbox-label{
    margin-left: 5px;
}

#data{
    width: 100%;
    height: 2.375rem;
}


.dropdowns{
    text-transform: capitalize;
}

select{
    height: 2.375rem;
    padding: 6px 12px;
    width: 100%;
    border-radius: 0.35rem;
    box-sizing: border-box;
}

.checker-options{
    text-align: left; 
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 1.25rem;
}

#Checker-block p, span{
    display: inline-block;
    margin-bottom: 0;

}

.section-header{
    margin-bottom: 1px;
}

ul{
    text-decoration: none;
}

#text{
    min-height: 120px;
    width: 100%;
    resize: vertical;
    padding: 10px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: none;
}

.last-container{
    width: 100%;
}

.btn{
    display: block;
    width: 100%;
    background: #37af65;
    padding: 11px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
}